
#header{
    width: 100%;
    height: 130px;
    background-color: rgba(10,10,10,0.8);
}
#header>nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    margin: 0px auto;
    padding-top: 10px;
}

#header>nav>.logo{
    width: 100px;
    height: 100px;
}
#header>nav>.logo>a{
    display: block;
    width: 100%;
    height: 100%;
}
#header>nav>.logo>a>img{
    display: block;
    width: 100%;
    height: 100%;
}
#header>nav>.gnb{
    display: flex;
}
#header>nav>.gnb>li>a{
    margin-right: 25px;
    color: #fff;
    font-size: 20px;
}