<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arsenal Fan Site</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/membership.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script>



    </script>


</head>

<body>
{% include "layout/header.html" %}
{% block section %}
<div class="box">
    <form class="form_box">
        <div class="membership">
            <label for="id">ID :<input type="text" id="id"></label>
            <label for="password">PASSWORD :<input type="password" id="password"></label>
            <label for="username">NICKNAME :<input type="username" id="username"></label>
            <button type="button" id="sign" onclick="membership()">회원가입</button>
        </div>
    </form>
</div>
{% endblock %}
{% include "layout/footer.html" %}


</body>

</html>
