<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arsenal Fan Site</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            bsCustomFileInput.init()
            listing()
        })

        function delete_list(num) {
            $.ajax({
                type: "POST",
                url: "/list/delete",
                data: {num_give: num},
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload()
                }
            });
        }

        function listing() {
            $.ajax({
                type: "GET",
                url: "/list",
                data: {},
                success: function (response) {
                    let lists = response['all_lists']
                    for (let i = 0; i < lists.length; i++) {
                        let title = lists[i]['title']
                        let text = lists[i]['text']
                        let file = lists[i]['file']
                        let num = lists[i]['num']

                        let temp_html = `<div class="post">
                                            <a href="/postview/${title}" >
                                                <p>${title}</p>

                                                <div id="image"><img src="../static/img/${file}" alt=""></div>
                                            </a>
                                            <button onclick="delete_list(${num})" >삭제하기</button>
                                            <span class="comment">${text}</span>
                                        </div>
                                            `

                        $('#list-box').append(temp_html)


                    }
                }
            })
        }

        function search() {
            $.ajax({
                type: "GET",
                url: "/list",
                data: {},
                success: function (response) {
                    let lists = response['all_lists']
                    for (let i = 0; i < lists.length; i++) {
                        let title = lists[i]['title']
                        let include = $('#search').val()
                        if (title.includes(include) == true && include !== null) {
                            $('.post').eq(i).css('display', 'block')
                        } else {
                            $('.post').eq(i).css('display', 'none')
                        }
                    }
                }
            })

        }

    </script>
</head>

<body>
{% include "layout/header.html" %}
{% block section %}
<div class="postWrap">
    <div class="btnWrap">
        <button class="button is-success is-outlined"><a href="/post_write">글 쓰기 +</a></button>
        <input type="text" id="search" class="search" placeholder="제목을 검색해 주세요">
        <button id="searchBtn" onclick="search()">검색 &#128269;</button>

    </div>
    <div class="post_list">
        <div class="list" id="list-box">
            {%for post in list %}
            <div class="post">
                <a href="/{{ post.num }}">
                    <p>{{ post.title }}</p>

                    <div id="image"><img src="../static/img/${file}" alt=""></div>
                </a>
                <button onclick="delete_list(${num})">삭제하기</button>
                <span class="comment">{{ post.text }}</span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% include "layout/footer.html" %}

</body>

</html>
