<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arsenal Fan Site</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            listing()
        })

        function listing() {
            $.ajax({
                type: "GET",
                url: "/list",
                data: {},
                success: function (response) {
                    let lists = response['all_lists']
                    for (let i = 0; i < lists.length; i++) {
                        let title = lists[i]['title']
                        let file = lists[i]['file']
                        let time = lists[i]['time']
                        let text = lists[i]['text']
                        let temp_html = `<div class="posts">
                                            <div class="info">
                                                <h1 id="show_writer">${title}</h1>
                                                <h2 id="show_date">${time}</h2>
                                            </div>

                                            <div class="content"><img src="${file}" alt="">
                                                <p>${text}</p>
                                            </div>
                                        </div>`

                        $('#view').append(temp_html)
                    }
                }
            })
        }
    </script>
</head>

<body>
    {% include "layout/header.html" %}
    {% block section %}
    <div class="viewWrap" id="view">

    </div>
    {% endblock %}
    {% include "layout/footer.html" %}



</body>

</html>