<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Kirang+Haerang&family=Noto+Sans+KR:wght@300;400;500;700&display=swap"
          rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<script>
      function logout() {
                $.removeCookie('mytoken', {path: '/'});
                alert('로그아웃!')
                window.location.href = "/"
            }
</script>

<header id="header">

    <nav>
        <h1 class="logo">
            <a href="javascript:void(0)"><img src="../../static/img/logo.png" alt="logo">
            </a>
        </h1>
        <h2 class="title">Arsenal Fan Site</h2>
        <ul class="gnb">
            <li id="login_head" class="hidden"><a href="/login">로그인</a></li>
            <li id="logout_head"><a href="/" onclick="logout()">로그아웃</a></li>
            <li><a href="/post_list">게시판</a></li>
            <li><a href="https://www.arsenal.com/" target="_blank">아스날 바로가기</a></li>
        </ul>
    </nav>
</header>